* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    user-select: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    color: #555;
}

#nav {
    color: #999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

#btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}